{% extends "login_signup_base.html" %}

{% block title %}SignUp{% endblock %}

{% block body %}
    <form method="post" class="signup_form">
        <label for="username">Username</label>
        <input type="text" name="username" value="{{ user_d['username'] }}" required>

        <label for="email">Email</label>
        <input type="email" name="email" value="{{ user_d['email'] }}" required>

        <label for="password">Password</label>
        <input type="password" name="password"  required>

        <label for="confirm_password">Confirm Password</label>
        <input type="password" name="confirm_password"  required>

        {% if error %}
            <p>{{ error }}</p>
        {% endif %}

        <button type="submit">Create Account</button>
        <p>Already have an account? <a href="{{ url_for('login_signup.login') }}">Login</a></p>
    </form>
{% endblock %}