{% extends "login_signup_base.html" %}

{% block title %}SignUp{% endblock %}

{% block body %}
    <form method="post" class="signup_form">

        <label for="password">Current Password</label>
        <input type="password" name="cur_password"  required>

        <label for="new_password">New Password</label>
        <input type="password" name="new_password"  required>

        <label for="confirm_new_password">Confirm New Password</label>
        <input type="password" name="confirm_new_password"  required>

        {% if error %}
            <p>{{ error }}</p>
        {% endif %}

        <button type="submit">Change Password</button>
    </form>
{% endblock %}